<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DDOCompendium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DDOCompendium.Properties.Settings>
            <setting name="SelectedCharacterName" serializeAs="String">
                <value>Shatterer</value>
            </setting>
            <setting name="KeepFreeQuestsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedFilter" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="SavedSort" serializeAs="String">
                <value>None</value>
            </setting>
        </DDOCompendium.Properties.Settings>
    </userSettings>
</configuration>
